<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">

  <!-- Top navbar -->
  <mat-toolbar class="navbar" color="primary">

    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home">
      <h1>
        COSMOS
      </h1>
    </a>

    <span class="navbar-spacer"></span>


    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
      <span fxShow >
        {{userName}}
      </span>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

      <!-- <a mat-menu-item [routerLink]="['/account/profile']">
        <mat-icon>person</mat-icon>
        <span>Account</span>
      </a> -->

      <a mat-menu-item [routerLink]="['/auth/login']">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </a>

    </mat-menu>

  </mat-toolbar>

  <!-- <mat-sidenav-container class="navbar-sidenav-container"> -->
    <!-- Side nav -->
    <!-- <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav"> -->

      <!-- <mat-nav-list>
        <h3 mat-subheader>Home</h3>

        <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            dashboard
          </mat-icon>
          <p mat-line> Dashboard </p>
        </a>


        <a mat-list-item [routerLink]="['/project']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            toll
          </mat-icon>
          <p mat-line> Project </p>
        </a>

        <a mat-list-item [routerLink]="['/project-floor']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            business
          </mat-icon>
          <p mat-line> Project floors </p>
        </a>

        <a mat-list-item [routerLink]="['/item']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            item
          </mat-icon>
          <p mat-line> Items </p>
        </a>

        <a mat-list-item [routerLink]="['/floor-item']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            item
          </mat-icon>
          <p mat-line> Floor items </p>
        </a>

        <a mat-list-item [routerLink]="['/damaged-item']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            item
          </mat-icon>
          <p mat-line> Damaged items </p>
        </a>


        <mat-expansion-panel [class.mat-elevation-z0]="true"  *ngIf="isAdmin" dense>
          <mat-expansion-panel-header>
              Setups
          </mat-expansion-panel-header>
          <mat-nav-list dense>

            <a mat-list-item [routerLink]="['/organizations']" routerLinkActive="active">
              <mat-icon mat-list-icon>
                business
              </mat-icon>
              <p mat-line> Organizations </p>
            </a>

            <a mat-list-item [routerLink]="['/users']" routerLinkActive="active">
              <mat-icon mat-list-icon>
                people
              </mat-icon>
              <p mat-line> Users </p>
            </a>

            <a mat-list-item [routerLink]="['/groups']" routerLinkActive="active">
              <mat-icon mat-list-icon>
                group
              </mat-icon>
              <p mat-line> Groups </p>
            </a>

            <a mat-list-item [routerLink]="['/item-types']">
              <mat-icon mat-list-icon>person</mat-icon><p mat-line> Item types </p>
            </a>

            <a mat-list-item [routerLink]="['/item-categories']">
              <mat-icon mat-list-icon>category</mat-icon><p mat-line> Item categories </p>
            </a>

            <a mat-list-item [routerLink]="['/project-categories']">
              <mat-icon mat-list-icon>category</mat-icon><p mat-line> project categories </p>
            </a>

            <a mat-list-item [routerLink]="['/project-status']">
              <mat-icon mat-list-icon>person</mat-icon><p mat-line> project statuses </p>
            </a>

            <a mat-list-item [routerLink]="['/usage-status']">
              <mat-icon mat-list-icon>signal_wifi</mat-icon><p mat-line> usage statuses </p>
            </a>

            <a mat-list-item [routerLink]="['/unit-type']">
              <mat-icon mat-list-icon>person</mat-icon><p mat-line> unit types </p>
            </a>

            <a mat-list-item [routerLink]="['/user-type']">
              <mat-icon mat-list-icon>person</mat-icon><p mat-line> user types </p>
            </a>

            <a mat-list-item [routerLink]="['/roles']" routerLinkActive="active">
              <mat-icon mat-list-icon>
                font_download
              </mat-icon>
              <p mat-line> Roles </p>
            </a>

          </mat-nav-list>
      </mat-expansion-panel>


        <a  mat-list-item [routerLink]="['/about']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            info_outline
          </mat-icon>
          <p mat-line> About </p>
        </a>
      </mat-nav-list> -->

    <!-- </mat-sidenav> -->

    <!-- Main content -->
    <!-- <mat-sidenav-content class="sidenav-content">

      <div class="progress-bar-container">
        <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async">
        </mat-progress-bar> -->
        <!-- <mat-spinner class="spinner" [diameter]="50" *ngIf="showSpinner"></mat-spinner> -->
      <!-- </div>


      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container> -->

  <ion-menu #snav side="start" type="push" open="!mobileQuery.matches"  contentId="main">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div *ngFor="let p of pages">
       
        <ion-menu-toggle *ngIf="p.url">
          <ion-item [routerLink]="p.url" routerLinkActive="active" >
            <ion-icon [name]="p.icon" slot="start"></ion-icon>
            <ion-label>{{p.title}}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item button *ngIf="p.children.length > 0" (click)="p.open = !p.open" 
        [class.active-parent]="p.open" detail="false">
        <ion-icon name="arrow-forward" slot="start" *ngIf="!p.open"></ion-icon>
        <ion-icon name="arrow-down" slot="start" *ngIf="p.open"></ion-icon>
        <ion-label>{{p.title}}</ion-label>
      </ion-item>

      <ion-list *ngIf="p.open">
        <ion-menu-toggle >
          <ion-item *ngFor="let c of p.children" [routerLink]="c['url']" routerLinkActive="active" >
            <ion-icon [name]="c['icon']" slot="start"></ion-icon>
            <ion-label>{{c['title']}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
        
      </div>
      
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>

</div>